body {
    font-family: 'Quicksand', sans-serif;
}

nav {
    position: fixed;
    overflow: hidden;
}

h1 {
    font-family: 'Saira', sans-serif;
    font-size: 5vw;
    text-align: center;
}

.portfolio-action {
    display: flex;
    justify-content: space-between;
}

.portfolio-link {
    text-transform: capitalize !important;
}

#about {
    padding-top: 50px;
}

#about p {
    font-size: 1.3rem;
}

#headshot {
    border-radius: 5px;
    box-shadow: 0 0 4px black;
}